@use "base/base";
@use "pages/contacto";
@use "pages/footer";
@use "pages/general";
@use "pages/header";
@use "pages/index";
@use "pages/sections";
@use "pages/servicios";
@use "utilities/layout";
@use "utilities/mixins";
@use "utilities/mobile";
@use "utilities/responsive";
@use "utilities/tablet";
@use "utilities/variables";




.ubicacion-container {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    align-items: flex-start;
}

/* Card lateral */
.card-contacto-lateral {
    background: white;
    padding: 25px 30px;
    width: 300px;        /* No fuerza altura → se adapta sola */
    border-radius: 16px;
    box-shadow: 0 0 18px rgba(0,0,0,0.12);
}

.card-contacto-lateral h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.card-contacto-lateral p {
    margin: 8px 0;
    font-size: 16px;
}
