@use "variables" as *;
@use "mixins" as *;
main {
  // hace que el footer se quede abajo y main ocupe el espacio disponible
  flex: 1 0 auto;
  margin-left: 20px;
  min-height: 0; 
  padding-bottom: 0;
  margin-bottom: 0;
  @include prevent-flex-grow;
}

section {
  margin-left: 20px;
  padding-top: 0;
  margin-top: 0;
}

#div_section_index {
  text-align: center;
}


.fachada,
.equipo {
  height: auto;
  width: 40%;
  margin-right: 20px;
  margin-bottom: 20px;
}
