@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}


@mixin size($w, $h) {
  width: $w;
  height: $h;
}


@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}


@mixin prevent-flex-grow {
  min-height: 0;
  min-width: 0;
}

@mixin tablet {
  @media (min-width: 481px) and (max-width: 1024px) {
    @content;
  }
}

