@use "mixins" as *;
@use "variables" as *;
@include mobile {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: $color-bg;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1 0 auto;
        min-height: 200px;
    }

    footer {
        flex-shrink: 0;
    }

    .fachada,
    .equipo {
        display: block;
        margin: 0 auto 20px auto;
        width: 80%;
    }

    iframe {
        width: 100%;
        height: 300px;
        display: block;
    }

    #section_contacto {
        margin-top: 10px;
    }

    .card_nuestro_equipo {
        margin-top: 10%;
    }

    .card_nuestros_datos {
        margin-top: 5%;
    }

    .card_servicios_1 {
        margin-bottom: 2rem;
    }

    #section_bps {
        flex-direction: column;

        img {
            width: 80%;
            max-width: 300px;
        }
    }

    .ubicacion-container {
        flex-direction: column;
        align-items: center;

        iframe {
            width: 100%;
            height: 300px;
        }
    }

    .card-contacto-lateral {
        width: 90%;
    }
}

