@use "mixins" as *;
@use "variables" as *;

@include tablet {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: $color-bg;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1 0 auto;
        margin-left: 30px;     // ejemplo para tablet
        margin-right: 30px;
        min-height: 250px;
    }

    nav ul {
        gap: 30px;
    }

    .fachada,
    .equipo {
        width: 60%;
    }

    iframe {
        width: 90%;
        height: 350px;
    }

    #section_contacto {
        margin-top: 20px;
    }

    section {
        margin-bottom: 40px;
    }

    .card_nuestros_datos {
        margin-top: 40%;
    }
    footer {
        flex-shrink: 0;
    }
}
