
$color-bg: #a1e091;
$color-header: #356EA5;
$color-nav-bg: #b7cc7a;
$color-nav-hover: #FBC02D;
$color-nav-border: #244e74;
$color-nav-text: #0b1b2b;
$color_div : #9ABD70;


$padding-header: 20px;
$gap-default: 20px;


$font-main: "Roboto", sans-serif;
$font-size-base: 16px;
$footer-font-size: 0.95rem;
$footer-padding-vertical: 8px; 



