.card_servicios_1 {
    background: #9ABD70;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#section_bps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; // Espaciado entre imágenes

    img {
        width: 150px; // Ajustá el tamaño a gusto
        height: auto;
        object-fit: contain;
        border-radius: 8px; // Si querés bordes redondeados como efecto
    }
}